@padding: 25px 50px;

.top-container {
  height: calc(100vh - @navbar-height);
  display: flex;
  justify-content: center;
  align-items: center;

  .logo-container {
    position: relative;
    width: 550px;
    max-width: 90%;
    bottom: calc(@navbar-height / 2);
  }
}

.content-padding {
  padding: @padding;
}

.main-content {
  .section {
    font-size: 1.4rem;
    display: flex;

    &.colored-bg {
      background-color: lighten(@primary-color, 40%);
    }
  }
}
