@padding: 25px 50px;

.top-container {
  height: calc(100vh - @navbar-height);
  display: flex;
  justify-content: center;
  align-items: center;

  .logo-container {
    position: relative;
    width: 550px;
    max-width: 90%;
    bottom: calc(@navbar-height / 2);
  }
}

.main-content {
  .title {
    padding: @padding;
  }

  .section {
    font-size: 1.4rem;
    padding: @padding;
    margin-bottom: 0;
    display: flex;

    &.last-section {
      font-size: 1rem;
      padding-top: 0 50px;
      text-align: center;
    }

    &.colored-bg {
      background-color: lighten(@primary-color, 40%);
    }
  }
}
