footer {
  .icon {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.65);

    &.clickable {
      font-size: 1.9rem;
      transition-property: color;
      transition-duration: 300ms;
      &:hover {
        color: @primary-color;
      }
    }
  }
}
